//Define as variáveis das cores
$color1: #9e2c9e;
$color2: #c44100;
$color3: #e700BA;
//inserir as cores no bootstrap
$theme-colors:(
    
    'color1':$color1,
    'color2':$color2,
    'color3':$color3

);
//TORNA A FONTE RESPONNSIVA. POR PADRÃO, VEM ATIVA
$enable-responsave-font-size: True !default;

//ativa a sombra em todos os elementos, vem desativada
$enable-shadows: false !default;

//para desarivas os arredondados dos eçemetos
$enable-rouded: true !default;
//adiciona as cores com um degra^de
$enable-gradients: false !default;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

